<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form method="post" action="loginCheck" id="loginForm">
	<!-- style="text-align:center;background:#000 url(__PUBLIC__/images/student.png) 90px center no-repeat;">3>-->
    <h3 style=" text-align:center; color:#000;background:url(__PUBLIC__/images/student.png) no-repeat center  ; margin-top:10px; padding-left:150px; margin-left:-100px;">学生登录系统</h3>
	<label for="userName"><span>用户名：</span><input id="userName" name="username" type="text" /></label>
	<label for="passWord"><span>密码：</span><input id="passWord" type="password" name="password"/></label>
	<!--<label><input name="" type="submit" class="bt" value="确定" />
	</label>-->
    
    <input type="image" src="__PUBLIC__/images/login.png"  class="bt" style="margin-left:40%; margin-top:20px;"/>
</form>
</body>
</html>